.green, .prolong-loan a, .prolong-loan a:hover {
    color: #609974;
}

.red {
    color: #F00;
}

.green, .red {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.container {
    margin-top: 101px;
}

.book-title {
    font-style: italic;
}

.img-card-book {
    width: 220px;
}

.input-required {
    color: red;
    font-weight: bold;
}

.form-search {
    margin: auto;
}

.search-radio {
    width: 318px;
}

@media all and (max-width: 991px) {
    .fixed-top {
        position: static;
    }
    .container {
        margin-top: 0px;
    }
}
