<!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org">
        <head>
            <title>Mcommerce</title>
            <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
        </head>
        <body>
            <div class="container">
                <h1 class="text-center">Système d'information de la bibliothèque</h1>
                <div class="row">
                    <div th:each="book : ${books}" class="col-md-4 my-1">
                        <div class="column-table-link">
                            <table class="list-sites table">
                                <tr>
                                    <th scope="col">
                                        Titre
                                    </th>
                                    <td scope="col" th:text="${book.title}"></td>
                                </tr>
                                <tr>
                                    <th scope="col">
                                        Auteur
                                    </th>
                                    <td scope="col" th:text="${book.author}"></td>
                                </tr>
                                <tr>
                                    <th scope="col">
                                        Année de publication
                                    </th>
                                    <td scope="col" th:text="${book.publicationYear}"></td>
                                </tr>
                                <tr>
                                    <th scope="col">
                                        ISBN
                                    </th>
                                    <td scope="col" th:text="${book.isbn}"></td>
                                </tr>
                                <tr>
                                    <th scope="col">
                                        Nombre de pages
                                    </th>
                                    <td scope="col" th:text="${book.numberOfPages}"></td>
                                </tr>
                                <tr>
                                    <th scope="col">
                                        Éditeur
                                    </th>
                                    <td scope="col" th:text="${book.publisher}"></td>
                                </tr>
                            </table>
                            <p><a th:href="@{|/details-book/${book.id}|}">En savoir plus</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
        </body>
</html>