<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Enregistrement validé</title>
        <div th:replace="Header :: header"></div>
    </head>

    <body>
        <div th:replace="Navbar :: navbar"></div>
        <div class="container text-center">
            <h3 class="mb-5">Mes prêts en cours :</h3>
            <div th:each="loan : ${loans}">
                <div th:each="bookOfLoan : ${booksOfLoans}">
                    <div th:if="${bookOfLoan.id == loan.bookId}">
                        <p><span th:text="${bookOfLoan.author}"></span>, <span class="italic" th:text="${bookOfLoan.title}"></span>, <span th:text="${bookOfLoan.publisher}"></span>, <span th:text="${bookOfLoan.publicationYear}"></span>, <span th:text="${bookOfLoan.numberOfPages}"></span> pages.</p>
                        <p><img th:src="${bookOfLoan.image}" th:alt="@{|Couverture du livre ${bookOfLoan.title}|}" /></p>
                    </div>
                </div>
                <p>Date limite de retour : <span th:text="${#dates.format(loan.deadline, 'dd/MM/yyyy')}" class="red"></span>.</p>
                <p th:if="${loan.extended}" class="red">Ce prêt a déjà été prolongé.</p>
                <p th:unless="${loan.extended}" class="prolong-loan mb-5"><a th:href="@{|/extend/${loan.id}|}">Prolonger le prêt</a></p>
            </div>
        </div>
        <script type="text/javascript" src="http://localhost:8080/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    </body>
</html>