<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Prêts en cours</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>

    <body>
        <div th:replace="Navbar :: navbar"></div>
        <div class="container text-center">
            <h3 class="mb-5">Mes prêts en cours :</h3>
            <div th:if=""
            <div th:each="loan : ${loans}">
                <div th:each="bookOfLoan : ${booksOfLoans}">
                    <div th:if="${bookOfLoan.id == loan.bookId}">
                        <p><span th:text="${bookOfLoan.author}"></span>, <span class="italic" th:text="${bookOfLoan.title}"></span>, <span th:text="${bookOfLoan.publisher}"></span>, <span th:text="${bookOfLoan.publicationYear}"></span>, <span th:text="${bookOfLoan.numberOfPages}"></span> pages.</p>
                        <p><img th:src="${bookOfLoan.image}" th:alt="@{|Couverture du livre ${bookOfLoan.title}|}" /></p>
                    </div>
                </div>
                <p>Date limite de retour : <span th:text="${#dates.format(loan.deadline, 'dd/MM/yyyy')}" class="red"></span>.</p>
                <div th:if="${loan.extended}" class="red">Ce prêt a déjà été prolongé.</div>
                <div th:unless="${loan.extended}" class="prolong-loan">
                    <form method="post" action="/prolongation">
                        <input type="hidden" name="id" id="id" th:value="${loan.id}" />
                        <input type="hidden" name="bookId" id="bookId" th:value="${loan.bookId}" />
                        <input type="hidden" name="userId" id="userId" th:value="${loan.userId}" />
                        <input type="hidden" name="deadline" id="deadline" th:value="${loan.deadline}" />
                        <button type="submit" name="submit" value="value" class="link-button" onclick='return confirm("Êtes-vous sûr de vouloir prolonger ce prêt ?")'>Prolonger le prêt</button>
                    </form>
                </div>
                <p class="mb-5"><a th:href="@{|/retour_pret/${loan.id}/${loan.bookId}|}">Retourner ce livre (test de retour de prêt)</a></p>
            </div>
        </div>
        <script type="text/javascript" src="http://localhost:8080/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    </body>
</html>