<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Liste des livres</title>
        <div th:replace="Header :: header"></div>
    </head>
    <body>
        <div th:replace="Navbar :: navbar"></div>
        <div class="container">
            <h3>Mes prêts en cours :</h3>
            <div th:each="loan : ${loans}">
                <p>Date limite de retour : <span th:text="${loan.deadline}" class="red"></span>.</p>
                <p th:if="${loan.extended}" class="red">Ce prêt a déjà été prolongé.</p>
                <p th:unless="${loan.extended}" class="green"><a th:href="@{|/extend/${loan.id}|}">Prolonger le prêt</a></p>
            </div>
        </div>
    </body>
</html>